@model Consumption

@{
    ViewData["Title"] = "Edit Consumption";
}

<div class="card">
    <h5 class="card-header">Edit Consumption</h5>
    <div class="card-body">
        <form method="post" asp-action="EditConsumption">
            <input type="hidden" name="Id" value="@Model.Id" />

            <!-- User -->
            <div class="mb-3">
                <label for="userId" class="form-label">User</label>
                <input type="text" class="form-control" id="userId" value="@Model.User.UserName" readonly />
            </div>

            <!-- Group -->
            <div class="mb-3">
                <label for="groupId" class="form-label">Group</label>
                <input type="text" class="form-control" id="groupId" value="@Model.User.Group?.Name" readonly />
            </div>

            <!-- Product -->
            <div class="mb-3">
                <label for="productId" class="form-label">Product</label>
                <select id="productId" name="ProductId" class="form-select">
                    @foreach (var product in ViewBag.Products)
                    {
                        if (product.Id == Model.ProductId)
                        {
                          <option value="@product.Id" selected>@product.Name</option>
                        }
                        else
                        {
                            <option value="@product.Id">@product.Name</option>
                        }
                        
                    }
                </select>
            </div>

            <!-- Quantity -->
            <div class="mb-3">
                <label for="quantity" class="form-label">Quantity</label>
                <input type="number" class="form-control" id="quantity" name="Quantity" value="@Model.Quantity" />
            </div>

            <!-- Consumption Time -->
            <div class="mb-3">
                <label for="consumptionTime" class="form-label">Consumption Time</label>
                <input type="datetime-local" class="form-control" id="consumptionTime" name="ConsumptionTime" value="@Model.ConsumptionTime.ToString("yyyy-MM-ddTHH:mm")" />
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
