@{
    TempData.Keep();
    string? currentPage = ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    @* ! Hide app brand if navbar-full *@
    <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
        <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
            <span class="app-brand-logo demo">
                @await Html.PartialAsync("../_Partials/_Macros")
            </span>
            <span class="app-brand-text demo menu-text fw-bold ms-2">@TempData.Peek("appName")</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    @* ! Full version menu-items *@
    <ul class="menu-inner py-1">
        <!-- Dashboards -->
        <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/Dashboards/") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-home-smile"></i>
                <div class="text-truncate" data-i18n="Dashboards">Dashboards</div>
                <span class="badge rounded-pill bg-danger ms-auto">5</span>
            </a>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/" ? " active" : "")'>
                    <a asp-controller="Dashboards" asp-action="Index" class="menu-link">
                        <div>Analytics</div>
                    </a>
                </li>
            </ul>
        </li>


        <!-- participants -->
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">participants</span>
        </li>

        <!-- Apps -->
        <li class='menu-item@(currentPage == "/Apps/Email" ? " active" : "")'>
            <a href="" target="_blank" class="menu-link">
                <i class="menu-icon tf-icons bx bx-envelope"></i>
                <div>Support</div><div class="badge bg-label-primary fs-tiny rounded-pill ms-auto text-uppercase">Unread</div>
            </a>
        </li>

        <!-- Pages -->
        <li class='menu-item@(currentPage.StartsWith("/Pages/Account") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-user"></i>
                <div>Participants</div>
            </a>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/Pages/AccountSettings" ? " active" : "")'>
                    <a asp-controller="Pages" asp-action="AccountSettings" class="menu-link">
                        <div>Add New</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Pages/AccountSettingsNotifications" ? " active" : "")'>
                    <a asp-controller="Pages" asp-action="AccountSettingsNotifications" class="menu-link">
                        <div>Get All</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class='menu-item@((currentPage.StartsWith("/UserGroups") || 
                                  currentPage.StartsWith("/Products")

                                ) ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-data"></i>
                <div>Basic Information</div>
            </a>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/UserGroups/Index" ? " active" : "")'>
                    <a asp-controller="UserGroups" asp-action="Index" class="menu-link">
                        <div>User Groups</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Auth/RegisterBasic" ? " active" : "")'>
                    <a asp-controller="Products" asp-action="Index" class="menu-link">
                        <div>Products</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Auth/ForgotPasswordBasic" ? " active" : "")'>
                    <a asp-controller="Auth" asp-action="ForgotPasswordBasic" class="menu-link">
                        <div>Forgot Password</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Components -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Consumptions</span></li>
        <!-- Cards -->
        <li class='menu-item@(currentPage == "/Cards/Basic" ? " active" : "")'>
            <a asp-controller="Cards" asp-action="Basic" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div class="text-truncate" data-i18n="Cards">Consumptions</div>
            </a>
        </li>
        <!-- Misc -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Misc</span></li>
        <li class="menu-item">
            <a href='@TempData.Peek("support")' target="_blank" class="menu-link">
                <i class="menu-icon tf-icons bx bx-support"></i>
                <div>Support</div>
            </a>
        </li>
        <li class="menu-item">
            <a href='@TempData.Peek("documentation")' target="_blank" class="menu-link">
                <i class="menu-icon tf-icons bx bx-file"></i>
                <div>Documentation</div>
            </a>
        </li>
    </ul>

</aside>
<!-- / Menu -->
